body {
    font-family: 'Gudea', sans-serif;
    font-size: 24px;
    line-height: 1.42857143;
    color: #333;
    font-weight: 500;
}

h1, h2 {
    font-family: 'Pacifico', cursive;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 18px;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 40px;
}

a {
    color: rgb(66, 139, 202);
}

.section {
    padding: 100px;
    text-align: center;
    position: relative;
}

#section-title {
    background-color: rgb(186, 186, 186);
    background-image: url(../img/pinstripe.png);
}

#section-title h1 {
    color: rgb(179, 30, 0);
}

.header-underline {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 50px;
    width: 600px;
}

.header-underline-segment {
    width: 20px;
    height: 20px;
    margin: 15px;
    float: left;
    border-radius: 50%;
}

#section-get-started {
    background-color: rgb(58, 58, 58);
    background-image: url(../img/low_contrast_linen.png);
    -webkit-box-shadow: inset  0  10px 10px -10px black,
                        inset  0 -10px 10px -10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:    inset  0  10px 10px -10px black,
                        inset  0 -10px 10px -10px rgba(0, 0, 0, 0.7);
    box-shadow:         inset  0  10px 10px -10px black,
                        inset  0 -10px 10px -10px rgba(0, 0, 0, 0.7);
}

#section-get-started h2 {
    color: rgb(186, 186, 186);
    text-shadow: 2px 2px 4px black;
}

.ytplayer {
    margin-top: 30px;
}

#section-bookmarklet {
    background-color: lightblue;
    color: rgb(7, 55, 99);
    position: relative;
    overflow: hidden;
}

#section-bookmarklet a {
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
}

#action-dude, #action-click-here, #action-dude2 {
    font-family: 'Pacifico', cursive;
    font-size: 55px;
    position: absolute;
    color: transparent;
}

#action-dude {
    top: -60px;
    right: -20px;
    -webkit-transform: rotate(350deg);
    -moz-transform: rotate(350deg);
    -o-transform: rotate(350deg);
    transform: rotate(350deg);
}

@-webkit-keyframes flash1 {
    0% { color: rgb(7, 55, 99); }
    10% { color: rgb(7, 55, 99); }
    20% { color: lightblue; }
    100% { color: lightblue; }
}
@keyframes flash1 {
    0% { color: rgb(7, 55, 99); }
    10% { color: rgb(7, 55, 99); }
    20% { color: lightblue; }
    100% { color: lightblue; }
}
#action-dude.flash {
    -webkit-animation: flash1 3s linear infinite;
    -moz-animation: flash1 3s linear infinite;
    -ms-animation: flash1 3s linear infinite;
    -o-animation: flash1 3s linear infinite;
    animation: flash1 3s linear infinite;
}

#action-click-here {
    top: -50px;
    right: -300px;
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    transform: rotate(35deg);
}

@-webkit-keyframes flash2 {
    0% { color: lightblue; }
    19% { color: lightblue; }
    20% { color: rgb(7, 55, 99); }
    30% { color: rgb(7, 55, 99); }
    35% { color: lightblue; }
    40% { color: rgb(7, 55, 99); }
    60% { color: rgb(7, 55, 99); }
    65% { color: lightblue; }
    100% { color: lightblue; }
}
@keyframes flash2 {
    0% { color: lightblue; }
    19% { color: lightblue; }
    20% { color: rgb(7, 55, 99); }
    30% { color: rgb(7, 55, 99); }
    35% { color: lightblue; }
    40% { color: rgb(7, 55, 99); }
    60% { color: rgb(7, 55, 99); }
    65% { color: lightblue; }
    100% { color: lightblue; }
}
#action-click-here.flash {
    -webkit-animation: flash2 3s linear infinite;
    -moz-animation: flash2 3s linear infinite;
    -ms-animation: flash2 3s linear infinite;
    -o-animation: flash2 3s linear infinite;
    animation: flash2 3s linear infinite;
}

#action-arrow {
    position: absolute;
    top: -10px;
    right: -160px;
}

#action-arrow path {
    stroke: transparent;
}

@-webkit-keyframes flash3 {
    0% { stroke: lightblue; }
    40% { stroke: lightblue; }
    50% { stroke: rgb(7, 55, 99); }
    70% { stroke: #610808; }
    75% { stroke: lightblue; }
    80% { stroke: #610808; }
    85% { stroke: #cf0808; }
    90% { stroke: lightblue; }
    100% { stroke: lightblue; }
}
@keyframes flash3 {
    0% { stroke: lightblue; }
    40% { stroke: lightblue; }
    50% { stroke: rgb(7, 55, 99); }
    70% { stroke: #610808; }
    75% { stroke: lightblue; }
    80% { stroke: #610808; }
    85% { stroke: #cf0808; }
    90% { stroke: lightblue; }
    100% { stroke: lightblue; }
}
#action-arrow.flash path {
    -webkit-animation: flash3 3s linear infinite;
    -moz-animation: flash3 3s linear infinite;
    -ms-animation: flash3 3s linear infinite;
    -o-animation: flash3 3s linear infinite;
    animation: flash3 3s linear infinite;
}

#action-dude2 {
    bottom: -180px;
    right: -60px;
    color: transparent;
}

@-webkit-keyframes flash4 {
    0% { color: #cf0808; }
    100% { color: lightblue; }
}
@keyframes flash4 {
    0% { color: #cf0808; }
    100% { color: lightblue; }
}
#action-dude2.flash {
    -webkit-animation: flash4 0.5s linear infinite;
    -moz-animation: flash4 0.5s linear infinite;
    -ms-animation: flash4 0.5s linear infinite;
    -o-animation: flash4 0.5s linear infinite;
    animation: flash4 0.5s linear infinite;
}

#cloud-1 {
    position: absolute;
    bottom: -90px;
    left: 20px;
    z-index: 1;
}

#cloud-2 {
    position: absolute;
    top: 250px;
    right: -70px;
}

/* Great tutorial at http://thecodeplayer.com/walkthrough/pure-css3-animated-clouds-background */
.cloud {
    width: 300px; height: 90px;
    background: #fff;

    border-radius: 300px;
    -moz-border-radius: 300px;
    -webkit-border-radius: 300px;

    position: relative;
}

.cloud:before, .cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 150px; height: 120px;
    position: absolute; top: -22px; left: 15px;

    border-radius: 150px;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;

    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 180px; height: 180px;
    top: -77px; left: auto; right: 22px;
}

#section-playground {
    background-image: url(../img/project_papper.png);
}

/* Nice intro at http://tympanus.net/codrops/2013/10/03/a-collection-of-separator-styles/ */
#section-playground:before {
    position: absolute;
    content: '';
    pointer-events: none;
    left: 50%;
    width: 100px;
    height: 100px;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    top: -50px;
    background: lightblue;
}

#section-playground h2 {
    font-size: 55px;
}

#playground {
    width: 80%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#playground, #playground div {
    padding: 0.5em;
    border: 4px dashed #555;
    border-radius: 20px;
    background-color: rgba(110, 110, 110, 0.23);
}

#playground span {
    color: #858585;
}

#footer {
    text-align: center;
    font-size: 14px;
    padding: 0.5em;
    background-color: rgb(112, 96, 96);
}

#footer, #footer a {
    color: rgb(186, 186, 186);
}
